@import "lunchtype.css/LunchType22/Web/stylesheets.css";
.lunchtype-regular { font-family: "lunchtype22regular", sans-serif; }
.lunchtype-medium { font-family: "lunchtype22medium", sans-serif; }
.lunchtype-light { font-family: "lunchtype22light", sans-serif; }

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	height: 100vh;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 82.83%;
}

.span_4_of_6 {
  	width: 65.66%;
}

.span_3_of_6 {
  	width: 48.5%;
}

.span_2_of_6 {
  	width: 31.33%;
}

.span_1_of_6 {
  	width: 14.16%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}


body {
	font-family: 'lunchtype22', sans-serif;
	color: #4B4B4B;
	background: #FEEED7;
}

sup { 
    vertical-align: baseline;
    font-size: 0.9rem;
    position: relative;
    top: -0.6em;
}

h1 {
	font-size: 4.0rem;
	font-weight: 500;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

h3 {
	padding-top: 36px;
	font-size: 1.8rem;
	font-weight: 500;
}

p {
	font-size: 1.5rem;
}

a {
	color: #4B4B4B;
	text-decoration: none;
}

b {
	font-weight: 500;
}

#maintitle, #intro, #citations {
	width: calc(100% - 120px);
	line-height: 2.2rem;
	margin-left: 60px;
}

#maintitle {
	margin-top: 72px;
	margin-bottom: 48px;
}

#intro p {
	margin-bottom: 32px;
}

#intro p:last-child {
	margin-bottom: 60px;
}

#citations {
	padding-top: 16px;
	border-top: 1px solid #76858E;
}

#citations p {
	font-size: 1.0rem;
	color: #76858E;
}

#explore {
	margin-left: -3%;
	width: 103%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center; 
	line-height: 3.0rem
}

#explore p {
	width: auto;
}

#explore p:hover {
	text-decoration: underline;
}

i {
    border: 1px solid #4B4B4B;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#viz1, #viz2 {
	margin-left: 60px;
}

#viz1 h1 {
	margin-bottom: 18px;
	padding-top: 60px;
}

#viz2 h1 {
	margin-bottom: 8px;
	padding-top: 60px;
	float: left;
	display: inline-block;
}

.notes { 
	height: 100vh;
	padding: 0 60px 80px 0;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: bottom;
}

.notes p {
	font-size: 1.8rem;
	line-height: 2.2rem;
}

.notes > * {
	margin-bottom: 24px;
}




svg {
	background: #FEEED7;
}

.axis {
	font-size: 0.9rem;
	font-family: "lunchtype22", sans-serif;
	font-weight: 400;
}

.axis path,
.axis line {
	fill: none;
	display: none;
}

.axis .domain {
	display: none;
}

.tooltip {
	font-family: "lunetype22", sans-serif;
	font-weight: 700;
}

.rect:hover, .bar:hover {
	stroke: #9D9D9D;
	stroke-width: 2px;
}

#citiesList {
    display: inline-block;
    font-family: 'lunchtype22', sans-serif;
    font-size: 1.6rem;
    background: transparent;
    width: 250px;
    height: 48px;
    border: 2px solid #9D9D9D;
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin-top: 68px;
    margin-left: 42px;
    border-radius: 0;
    margin-bottom: 18px;
}

#citiesList select {
	background: black;
}